---
import Layout from "@/layouts/Layout.astro";
import { images } from "@/assets";
import BaseServices from "@/components/services/BaseServices.astro";

const graphics_services = [
  {
    title: "Brand Identity Design",
    content: "Create a strong and memorable brand identity with logos, color schemes, typography, and brand guidelines that reflect your business values and resonate with your target audience.",
    image: images.webdev_1,
    divider: false
  },
  {
    title: "Marketing Materials",
    content: "Design effective marketing materials such as brochures, flyers, posters, and banners that effectively communicate your message and attract potential customers.",
    image: images.webdev_1,
    divider: true
  },
  {
    title: "Social Media Graphics",
    content: "Develop engaging graphics for your social media profiles, including cover images, post designs, and ad creatives that enhance your online presence and drive engagement.",
    image: images.webdev_1,
    divider: false
  },
  {
    title: "Web and Mobile Design",
    content: "Design user-friendly and visually appealing websites and mobile apps that provide a seamless user experience and align with your brand’s aesthetics.",
    image: images.webdev_1,
    divider: true
  },
  {
    title: "Print Design",
    content: "Create high-quality print designs for business cards, letterheads, packaging, and other materials that make a lasting impression.",
    image: images.webdev_1,
    divider: false
  },
  {
    title: "Infographics",
    content: "Craft informative and visually engaging infographics that simplify complex information and make it easy for your audience to understand and share.",
    image: images.webdev_1,
    divider: true
  },
  {
    title: "Presentation Design",
    content: "Design professional and visually compelling presentations that effectively communicate your ideas and engage your audience during meetings and pitches.",
    image: images.webdev_1,
    divider: false
  },
  {
    title: "Custom Illustrations",
    content: "Develop unique and creative illustrations tailored to your brand’s needs, including custom icons, mascots, and other visual elements.",
    image: images.webdev_1,
    divider: true
  },
  {
    title: "Design Consultation",
    content: "Offer expert advice on design strategies and best practices to ensure that your visual assets align with your business goals and brand identity.",
    image: images.webdev_1,
    divider: false
  },
  
]
---

<Layout title="MyPromo | Graphic Design">
  <section class="relative">
    <div
      aria-hidden="true"
      class="absolute inset-0 top-36 grid grid-cols-2 -space-x-52 opacity-50 dark:opacity-30"
    >
      <div
        class="h-56 bg-gradient-to-br from-primary to-purple-400 blur-[106px] dark:from-blue-700"
      >
      </div>
      <div
        class="h-32 bg-gradient-to-r from-cyan-400 to-sky-300 blur-[106px] dark:to-indigo-600"
      >
      </div>
    </div>
    <div
      class="mx-auto px-4 pt-20 sm:px-12 sm:pt-40 md:pt-48 lg:pt-56 xl:max-w-6xl xl:px-0"
    >
      <div class="relative z-10">
        <div class="flex flex-col">
          <h1
            class="text-center text-5xl font-bold text-blue-900 dark:text-white sm:text-6xl md:text-left lg:text-6xl"
          >
            <span
              class="bg-clip-text text-transparent bg-gradient-to-br from-red-600 to-yellow-700"
            >
              Graphic Design
            </span>
          </h1>
          <h2
            class="mt-6 text-2xl font-suse font-semibold text-gray-600 dark:text-gray-300"
          >
            Transform Your Brand with Stunning Graphic Design
          </h2>
          <p
            class="mt-6 text-center text-lg font-suse text-gray-600 dark:text-gray-300 sm:text-xl md:text-left lg:w-3/4"
          >
          At MyPromo, we specialize in delivering exceptional graphic design services that bring your vision to life. From eye-catching visuals to cohesive brand identities, our designs are crafted to captivate your audience and elevate your brand.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  {
    graphics_services.map((service) => (
      <BaseServices serviceProps = {service}/>
    ))
  }



  <!-- Cta -->
  <section class="mt-10 mb-16">
    <div class="container m-auto px-6 text-center md:px-12 lg:px-20">
      <div class="relative mx-auto flex h-56 w-56 items-center justify-center">
        <div
          class="it absolute inset-0 flex flex-wrap opacity-40 blur-3xl dark:opacity-70"
        >
          <div aria-hidden="true" class="h-1/2 w-1/2 bg-primary"></div>
          <div aria-hidden="true" class="h-1/2 w-1/2 bg-purple-500"></div>
          <div
            aria-hidden="true"
            class="h-1/2 w-1/2 rounded-bl-full bg-secondary"
          >
          </div>
          <div
            aria-hidden="true"
            class="h-1/2 w-1/2 rounded-br-full bg-secondaryLight"
          >
          </div>
        </div>
        <svg
          class="relative m-auto h-12 w-auto text-blue-900 dark:text-white"
          viewBox="0 0 290 270"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M184.589 48.5615L259.174 177.176C271.689 198.757 264.34 226.397 242.76 238.912C221.862 251.03 195.284 244.523 182.258 224.504L168.033 245.393C189.368 269.831 225.685 276.557 254.799 259.673C287.846 240.509 299.1 198.183 279.936 165.136L204.374 34.8366C201.937 30.6351 199.126 26.7859 196.008 23.3066L184.589 48.5615Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M184.19 92.696L108.622 222.992C96.1058 244.572 68.4656 251.92 46.8855 239.405C25.3055 226.889 17.9575 199.249 30.4733 177.668L106.042 47.3721C118.558 25.792 146.198 18.444 167.778 30.9599C189.358 43.4757 196.706 71.116 184.19 92.696ZM85.2807 35.3313C104.447 2.28524 146.773 -8.96694 179.819 10.1989C212.865 29.3647 224.117 71.6908 204.951 104.737L129.383 235.033C110.217 268.079 67.8908 279.331 34.8447 260.166C1.79866 241 -9.45348 198.674 9.71234 165.628L85.2807 35.3313Z"
            fill="currentColor"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M108.622 222.992L184.19 92.696C196.706 71.116 189.358 43.4757 167.778 30.9599C146.198 18.444 118.558 25.792 106.042 47.3721L30.4733 177.668C17.9575 199.248 25.3054 226.889 46.8855 239.405C68.4656 251.92 96.1058 244.572 108.622 222.992ZM179.819 10.1989C146.773 -8.96694 104.447 2.28524 85.2807 35.3313L9.71233 165.628C-9.4535 198.674 1.79865 241 34.8447 260.166C67.8907 279.331 110.217 268.079 129.383 235.033L204.951 104.737C224.117 71.6908 212.865 29.3647 179.819 10.1989Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <div class="relative -mt-12">
        <h2
          class="mb-8 text-4xl font-bold text-blue-900 dark:text-white md:text-6xl"
        >
          Elevate Your <span
            class="bg-clip-text text-transparent bg-gradient-to-br from-blue-600 to-red-700"
            >Search Engine Presence</span
          >
        </h2>
        <p
          class="mb-12 mt-6 text-gray-600 dark:text-gray-300 md:mx-auto md:w-5/6 lg:w-full"
        >
          Ready to enhance your search engine rankings and drive more organic
          traffic to your website? Contact us today to discuss how our SEO
          services can help you achieve long-term success in the digital
          marketplace.
        </p>
        <a
          href="contact.html"
          class="relative mx-auto flex h-11 w-max items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition-transform before:duration-300 active:duration-75 active:before:scale-95 dark:before:bg-primaryLight"
        >
          <span
            class="relative text-base font-semibold text-white dark:text-gray-900"
            >Get started</span
          >
        </a>
      </div>
    </div>
  </section>
</Layout>
