---
import ContactUs from '@/components/ContactUs.astro';
import Layout from '../layouts/Layout.astro';
import HomeAbout from '@/components/HomeAbout.astro';
import HomeFormula from '@/components/HomeFormula.astro';
import HomeServices from '@/components/HomeServices.astro';
import HomeNewFormula from '@/components/HomeNewFormula.astro';
import Hero from '@/components/Hero.astro';
import Test from '@/components/Test.astro';
---

<Layout title="Welcome to MyPromo">
	<main>
		<Hero />
		<HomeAbout />
		<HomeFormula />
		<!-- <HomeNewFormula /> -->
		<HomeServices />
		<ContactUs />
		<Test />
	</main>
</Layout>

<!-- <script>
import { animate, scroll } from "motion";

document.querySelectorAll("section > div").forEach((item) => {
  scroll(animate(item, { opacity: [0, 1, 1, 0] }), {
    target: item,
    offset: ["start end", "end end", "start start", "end start"]
  });
});
</script> -->
