---
import Fotter from "@/components/shared/Footer.astro";
import "../styles/global.css";
import NavBar from "@/components/shared/NavBar.astro";
import { ViewTransitions } from "astro:transitions";
import NewNav from "@/components/shared/NewNav.astro";
import NewFooter from "@/components/shared/NewFooter.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap"
      rel="stylesheet"
    />
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer is:inline></script>
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="dark font-poppins">
    <NavBar />
	 <!-- <NewNav /> -->
    <slot />
    <!-- <Fotter /> -->
    <NewFooter />
  </body>
</html>
